.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.signup-button {
  width: 109px;
  height: 40px;
  border-radius: 4px;
  background: rgba(18, 82, 174, 0.15);
  box-shadow: 0px 2px 3px 0px rgba(18, 82, 174, 0.4);
  color:;
}
